{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
  <title>FaganWeb Apps</title>

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

</head>

  <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4 border" style="color:white">
    <a class="navbar-brand" href="{% url 'appslist:index'%}">FaganWeb</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    </div>
      
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text">Hello, {{ user.username }}.</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register' %}?next={{ request.path }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}?next={{ request.path }}">Log in</a>
          </li>
        {% endif %}
      </ul>
      
  </nav>

<body>

  <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div class="pb-2 mb-2 border-bottom">
      {% block content %}{% endblock content %}
    </div>
  </main>

</body>

</html>