{% extends "learning_logs/base.html" %}

{% block content %}

  <div class="jumbotron">
  	<h1 class="display-3">Track your learning.</h1>

  	<p class="lead">Make your own Learning Log, and keep a list of the
  		topics you're learning about. Whenever you learn something new
			about a topic, make an entry summarizing what you've learned.</p>

  	<p class="lead">Select "My Topics" on the navigation bar above 
  		to add a new topic or to acces topics you've already created.
  		<br>Select "All Topics" to access topics created by all users.</p>

  	<p class="lead">You can add, edit, and delete entries for your
  		own topics, but you can only view topics / entries created by 
  		other users.</p>

	<a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
		role="button">Register &raquo;</a>
  </div>


{% endblock content %}