{% extends "appslist/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>You will need to login to your account to continue.</h2>
  <h5>If you don't already have a FaganWeb account, click "Register" on the navigation bar above.</h5>
{% endblock page_header %}

{% block content %}

<form method="post" action="{% url 'users:login' %}" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button name="submit" class="btn btn-primary">Log in</button>
  {% endbuttons %}
  <input type="hidden" name="next" value="{{ next }}">

</form>

{% endblock content %}