{% extends "beat_the_odds/base.html" %}

{% block page_header %}

<h1 class="text-center text">Beat the Odds</h1>
<br>

<div class="float-right">
<!-- Button to trigger Overview modal -->
<button type="button" class="btn btn-sm btn-secondary mb-5" data-toggle="modal" data-target="#OverviewModal">
  Game Overview
</button>
<!-- Button to trigger Moneyline modal -->
<button type="button" class="btn btn-sm btn-secondary mb-5" data-toggle="modal" data-target="#MoneylineModal">
  What is Moneyline?
</button>
</div>

<!-- "Game Overview" Modal -->
<div class="modal fade bd-example-modal-lg" id="OverviewModal" tabindex="-1" role="dialog" aria-labelledby="OverviewModalLabel" aria-hidden="true">
  <div class="modal-dialog mw-100 w-75" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-primary" id="OverviewModalLabel">Beat the Odds Overview</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="jumbotron pt-4 pb-4">
		  	<p class="lead">Compete against other participants to see who 
		  		can accumulate the most points by picking the winners of NFL 
		  		or MLB games using Moneyline odds (not point spreads). To 
		  		participate, you'll need to register a username and password.</p>

		  	<p class="lead">Choose "NFL" or "MLB" from the selection list  
		  		and click "Make (or Change) Picks".  You'll be asked to pick the 
		  		winners of 5 games for a weekend of NFL games or a day of MLB games. 
		  		For MLB, odds for a particular day are posted between 8:00pm and 10:00pm 
		  		the prior evening. For NFL, odds for a particular weekend are posted 
		  		the prior Wednesday. </p>

		  	<p class="lead">There's no money involved with this game, but 
		  		the points you receive will be equivalent to placing a $100 bet 
		  		on each game.  When making your picks, check the Points
		  		column. If your team wins, that's how many points you'll receive.
		  		If they lose, you'll receive -100 points.  Your total points at 
		  		the end of the contest will be equivalent to your net profit or
		  		loss for your 5 "bets".</p>

		  	<p class="lead">At the end of the contest, click "Results" on 
		  		the navigation bar above to see the results of your picks.  To
		  		see how you did relative to other participants, click 
		  		"Ranking".  To return to this page from any other page, click 
		  		"Beat the Odds".</p>
				</div>
      </div>
    </div>
  </div>
</div>

<!-- "What is Moneyline" Modal -->
<div class="modal fade bd-example-modal-lg" id="MoneylineModal" tabindex="-1" role="dialog" aria-labelledby="MoneylineModalLabel" aria-hidden="true">
  <div class="modal-dialog mw-100 w-75" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-primary" id="MoneylineModalLabel">What is Moneyline?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="jumbotron pt-4 pb-4">
        <p>With a Moneyline bet, unlike with points spreads, you simply pick who you think is going to win
        the game.  But your payout will vary, depending on whether you pick the favorite or the underdog, 
      	and whether the favorite is heavily favored or not.</p>

      	<p>The favorite is listed with “-” (minus) Moneyline odds, and the underdog is listed with “+” (plus)
      	Moneyline odds.<br>
      	For teams with "+" odds, the payout formula is: &nbsp (Odds/100) * Wager + Wager<br>
      	For teams with "-" odds, the payout formula is: &nbsp (100/Odds) * Wager + Wager</p>  

      	<p>Example #1: The Chiefs are playing the Bills, and the Chiefs are slight favorites.<br>
      	You might see odds like: Chiefs (-135), Bills (+115)</p>
      	
      	<p>Let's assume you bet $100 on the Bills:<br>
      	- If they win, your payout is &nbsp (115/100) * 100 + 100 = $215. &nbsp So, your profit is $115.<br>
				- If they lose, your payout is $0.  And your profit is -$100.  (i.e. You lose your $100 bet)<br>
				Now, let's assume you bet $100 on the Chiefs:<br>
      	- If they win, your payout is &nbsp 100/115 * 100 + 100 = $187. &nbsp So, your profit is $87.<br>
				- If they lose, your payout is $0.  And your profit is -$100.</p>

      	<p>Example #2: The Eagles are playing the Lions, and the Eagles are heavy favorites.<br>
      	You might see odds like: Eagles (-1000), Lions (+500)</p>
      	
      	<p>Let's assume you bet $100 on the Lions:<br>
      	- If they win, your payout is &nbsp (500/100) * 100 + 100 = $600. &nbsp So, your profit is $500.<br>
				- If they lose, your payout is $0.  And your profit is -$100.<br>
				Now, let's assume you bet $100 on the Eagles:<br>
      	- If they win, your payout is &nbsp 100/1000 * 100 + 100 = $110. &nbsp So, your profit is $10.<br>
				- If they lose, your payout is $0.  And your profit is -$100.</p>
				</div>
      </div>
    </div>
  </div>
</div>

<form class="form-inline" action="{% url 'beat_the_odds:index'%}" method='post'>
	{% csrf_token %}

	<label class="lead" for="league">Select a league:</label>
	<select class="ml-1" name="league" id="league">
	  <option value="NFL" {% if league == "NFL" %}selected{% endif %}>NFL</option>
	  <option value="MLB" {% if league == "MLB" %}selected{% endif %}>MLB</option>
	</select>
	<!--
	<select name="league" id="league" class="input-lg">
		<option selected hidden>Select league</option></option>
	  <option value="NFL">NFL</option>
	  <option value="MLB">MLB</option>
	</select>
	-->
	<input class="btn btn-sm btn-primary ml-3" name="selectleague" type="submit" value="Make (or Change) Picks" />
</form>
<br>

{% include 'beat_the_odds/includes/messages.html' %}

{% endblock page_header %}

{% block content %}

{% if period != null %}

<h3>{{ league }} {{ season }} ({{ period }})</h3>
<br>
<h5 class="text-danger">Pick the winners of {{ num_picks }} games below and click Submit. </h5>
<p class="text-danger">(You can change your picks, but your pick for any particular game must be finalized before game time. Game times are Eastern Time.) </p>

<form action="{% url 'beat_the_odds:index'%}" method='post'>
  {% csrf_token %}
  <input type="hidden" name="league" value="{{ league }}">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date-Time</th>
      <th scope="col" class="border-left"></th>
      <th scope="col">Visiting Team</th>
      <th scope="col">Moneyline</th>
      <th scope="col text-right">Points</th>
      <th scope="col" class="border-left"></th>
      <th scope="col">Home Team</th>
      <th scope="col">Moneyline</th>
      <th scope="col text-right">Points</th>
    </tr>
  </thead>
  <tbody>

  {% for game in games %}
    <tr class="border-bottom">
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ game.game_date|date:"n/j" }} - {{ game.game_time|time:"g:i a" }}</td>
      {% if game.eligible == True %}
        {% if game.picked_away == True %}
          <td class="pl-5 border-left"><input type=checkbox name="picks" value="{{ game.team_away }},{{ game.game_time|time:'G:i' }}" checked></td>
        {% else %}
          <td class="pl-5 border-left"><input type=checkbox name="picks" value="{{ game.team_away }},{{ game.game_time|time:'G:i' }}"></td>
        {% endif %}
      {% else %}
        {% if game.picked_away == True %}
          <td class="pl-5 border-left"><input type=checkbox checked disabled></td>
          <input type="hidden" name="picks" value="{{ game.team_away }},{{ game.game_time|time:'G:i' }}">
        {% else %}
          <td class="pl-5 border-left"><input type=checkbox disabled></td>
        {% endif %}
      {% endif %}  
      <td>{{ game.name_away }}</td>
      {% if game.odds_away > 0 %}
        <td class="text-center">+{{ game.odds_away }}</td>
      {% else %}
          <td class="text-center">{{ game.odds_away }}</td>
      {% endif %}
      <td class="text-right font-weight-bold">{{ game.points_away }}</td>
      {% if game.eligible == True %} 
        {% if game.picked_home == True %}
          <td class="pl-5 border-left"><input type=checkbox name="picks" value="{{ game.team_home }},{{ game.game_time|time:'G:i' }}" checked></td>
        {% else %}
          <td class="pl-5 border-left"><input type=checkbox name="picks" value="{{ game.team_away }},{{ game.game_time|time:'G:i' }}"></td>
        {% endif %}
      {% else %}
        {% if game.picked_home == True %}
          <input type="hidden" name="picks" value="{{ game.team_home }},{{ game.game_time|time:'G:i' }}">
          <td class="pl-5 border-left"><input type=checkbox checked disabled></td>
        {% else %}
          <td class="pl-5 border-left"><input type=checkbox disabled></td>
        {% endif %}
      {% endif %}  
      <td>{{ game.name_home }}</td>
      {% if game.odds_home > 0 %}
        <td class="text-center">+{{ game.odds_home }}</td>
      {% else %}
          <td class="text-center">{{ game.odds_home }}</td>
      {% endif %}
      <td class="text-right font-weight-bold">{{ game.points_home }}</td>

    </tr>

  {% endfor %}  

  </tbody>
  </table>

  <input class="btn btn-lg btn-primary" name="submitpicks" type="submit" value="Submit" />
</form>  

{% endif %}

{% endblock content %}